<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<PluginDefinition xmlns="http://flexagon.com/deploy/plugin">
  <Name>FlexagonPMDPlugin</Name>
  <PluginDisplayName>PMD Source Code Analyzer</PluginDisplayName>
  <Description>A plugin to manage PMD code analysis.</Description>
  <TechnologyGroup>General</TechnologyGroup>
  <SubTechnologyGroup>Analysis</SubTechnologyGroup>
  <MaxConcurrentThreads>-1</MaxConcurrentThreads>
  <Vendor>Flexagon</Vendor>
  <Version>FDPLG_1677042317761</Version>
  <Operations>
    <Operation>
      <Name>analyzeCode</Name>
      <Description>Starts PMD scan to analyze code</Description>
      <DocumentationLink>analyzeCode</DocumentationLink>
      <Target>flexagon.fd.plugin.pmd.operations.PMDAnalyzeCode</Target>
      <PropertyKeys>
        <PropertyKey>FDPMD_RULE_FILE</PropertyKey>
        <PropertyKey>FDPMD_PATH</PropertyKey>
        <PropertyKey>FDPMD_LANG_TYPE</PropertyKey>
      </PropertyKeys>
      <Inputs>
        <AllowsUserDefined>false</AllowsUserDefined>
        <Input>
          <Name>FDPMD_INP_PROJECT_LOCATION</Name>
          <DisplayName>Project Source Folder</DisplayName>
          <IsDefaultValueExpression>false</IsDefaultValueExpression>
          <DataType>String</DataType>
          <DisplayRows>1</DisplayRows>
          <DisplayColumns>100</DisplayColumns>
          <Description>Path to the project. If a relative path is given, a path inside of the FD_TEMP_DIR will be assumed.</Description>
          <IsRequired>false</IsRequired>
          <IsEncrypted>false</IsEncrypted>
        </Input>
        <Input>
          <Name>FDPMD_INP_PMD_RULE_FILE</Name>
          <DisplayName>PMD Rule File Name</DisplayName>
          <IsDefaultValueExpression>false</IsDefaultValueExpression>
          <DataType>String</DataType>
          <DisplayRows>1</DisplayRows>
          <DisplayColumns>100</DisplayColumns>
          <Description>PMD Rule File. Specify multiple PMD Rule Files separated by comma</Description>
          <IsRequired>false</IsRequired>
          <IsEncrypted>false</IsEncrypted>
        </Input>
        <Input>
          <Name>FDPMD_INP_ADDITIONAL_ARGS</Name>
          <DisplayName>Additional Arguments</DisplayName>
          <IsDefaultValueExpression>false</IsDefaultValueExpression>
          <DataType>String</DataType>
          <DisplayRows>1</DisplayRows>
          <DisplayColumns>100</DisplayColumns>
          <Description>Additional Arguments</Description>
          <IsRequired>false</IsRequired>
          <IsEncrypted>false</IsEncrypted>
        </Input>
      </Inputs>
      <Outputs>
        <AllowsUserDefined>true</AllowsUserDefined>
        <Output>FDPMD_OUT_TOTAL_ISSUE_COUNT</Output>
        <Output>FDPMD_OUT_PRIORITY1_TOTAL_ISSUE_COUNT</Output>
        <Output>FDPMD_OUT_PRIORITY2_TOTAL_ISSUE_COUNT</Output>
        <Output>FDPMD_OUT_PRIORITY3_TOTAL_ISSUE_COUNT</Output>
        <Output>FDPMD_OUT_PRIORITY4_TOTAL_ISSUE_COUNT</Output>
      </Outputs>
      <EndPointSpecification>
        <Selection>
          <All/>
        </Selection>
        <Execution>
          <Any/>
        </Execution>
      </EndPointSpecification>
      <ConsumesArtifacts>true</ConsumesArtifacts>
      <ProducesArtifacts>false</ProducesArtifacts>
    </Operation>
  </Operations>
</PluginDefinition>